h1 {
    color: orange;
    background-color: blue;
}

body {
    background-color: black;
    color: cornsilk;
    font-size: medium;
    font-family: cursive;
    font-style: italic;
}

a[href^="https"]::before {
    content: "🔗 ";
}

a[href^="0785649034"]::before {
    content: "📞 ";
}

a[href^="mailto"]::before {
    content: "📧 ";
}